
.header {
  background-color: black;
  color: navajowhite;
  padding: 10px;
  font-size:24px;
  display: flex;
  flex-direction: column;
  align-items: center
  }

.header-container{
  width: 65%;
}

.brown-paper-bag, .brady{
  position: relative;
  text-decoration: underline;
  color:brown;
  cursor: pointer
}

img {
  position: absolute;
  left: 0;
  top: 20;
  display: none;
  width: 250px;
  height: 250px;
}

.brown-paper-bag:hover > img,
.brady:hover > img {
  display: block;
}