
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.search {
  width: 50%;
}

label {
font-size: 26px;
color: #b08968;
}

input {
  padding: 6px;
  margin-top: 12px;
  font-size: 18px;
  border:solid 1px black;
}

.button-container{
display: flex;
margin-top: 35px;
justify-content: center;
align-items:center;
flex-flow: row wrap
}

.filter-button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 140px;
  margin: 4px 2px;
  cursor: pointer;
}

.basketball{
  background-color: white;
  border: solid #e6ccb2 1px;
  &:hover{
    background-color: #e6ccb2;
    color: white;
  }
}
.baseball{
  background-color: white;
  border: solid #ddb892 1px;
  // &:hover{
  //   background-color: #ddb892;
  //   color: white;
  // }
}.football{
  background-color: white;
  border: solid #b08968 1px;
  // &:hover{
  //   background-color: #b08968;
  //   color: white;
  // }
}.hockey{
  background-color: white;
  border: solid #7f5539 1px;
  // &:hover{
  //   background-color:#7f5539;
  //   color: white;
  // }
}.soccer{
  background-color: white;
  border: solid #9c6644 1px;
  // &:hover{
  //   background-color: #9c6644;
  //   color: white;
  // }
}

.na{
  background-color: grey;
  color:lightgrey;
  cursor: not-allowed;
}

